.ASC {
  border: solid red;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.DESC {
  border: solid red;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.table-title{
  position: relative; 
  float: left;
  padding-left: 10px;
}
.table-search{
  position: relative; 
  float: right;
}
.table-control-button{
  position: relative; 
  float: left;
  margin-left: 30px;
}